.dropdown {
    padding: 10px;
    position: sticky;
}
.h1, .col {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 0px;
}
.intro {
    font-size: 30pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    color: white;
}
.fcht {
    padding-bottom: 20px;
}
.form-group {
    padding-left: 10px;
    padding-right: 10px;
}
.btn-primary {
    margin: 10px;
}
.zxzx {
    text-align: left;
    margin-left: 10px;
}
.custom-file-label {
    text-align: left;
}
.yy {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.buddy {
    background-image: url(assets/playing.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.generalp {
    padding: 0px;
    margin: 0px;
}